/* HEADER */
.header {
  background: #fff;
}

.header--innner {
  display: flex;
  flex-direction: row;
  padding: 40px 0px 20px 0px;
}

.logo__cotnainer {
  margin-right: 256px;
}

.logo {
  width: 79.95px;
  height: 80px;
}

.nav__container {
}

.burger__menu--btn {
  border: none;
  display: none;
  width: 25px;
  height: 20px;
  position: relative;
}

.burger__menu--line {
  position: absolute;
  background: #e04504;
  height: 3px;
  width: 25px;
  right: 0;
}

.nav {
  display: block;
}

.nav__menu {
  display: flex;
}

.nav--list__item {
  margin-right: 60px;
}

.nav--list__item:last-child {
  margin-right: 0;
}

.nav--link {
  font-family: "Oranienbaum";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.nav--link:hover {
  color: #e04504;
}

/* SECTIONS */
/* MIAN SECTION */
.main-section {
  margin-bottom: 50px;
}

.main__section--inner {
  /* display: none; */
}

.main__section--txt__container {
  padding-top: 128px;
  padding-bottom: 253px;
}

.main__section--txt__container > h1 {
  font-family: "Aquarelle";
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  line-height: 145px;
}

.main__section--txt__container > h2 {
  margin-top: 15px;
  font-family: "Oranienbaum";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}

.main__section--img__container-crystal {
  display: block;
  top: 0px;
  right: 150px;
  z-index: -1;
}

.main__section--img__container-blot_one {
  top: 250px;
  left: 270px;
  z-index: -2;
}

.main__section--img__container-blot_two {
  top: 50px;
  right: 43%;
  z-index: -2;
  display: block;
}
.main__section--img__container-blot_two > img {
  width: 95%;
}

.main__section-cards__container {
  margin-top: 20px;
}
.advantages_title{
  display: none;
}
.main__section-cards__container > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main__section-cards__container > ul > li {
}

.main__section-card {
  max-width: 225px;
  width: 11.74vw;
  height: 190px;
  background: #e04504;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__section-card--img_container {
}

.main__section-card--img {
  width: 68px;
  height: 68px;
}
.icon_color {
  fill: #f2f3f4;
}
.icon_color-stroke{
  stroke: #f2f3f4;
}
.main__section-card--txt {
  font-family: "Oranienbaum";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #f2f3f4;
  margin-top: 10px;
  max-width: 174px;
}

/* PARTNERS */

.partners {
  margin-bottom: 50px;
}

.safety {
  margin-bottom: 50px;
}

.title__block {
  position: relative;
}

.title__top {
  font-family: "Aquarelle";
  font-weight: 500;
  font-size: 72px;
  color: #e04504;
  position: absolute;
  bottom: 0;
  opacity: 0.4;
}

.title__bottom {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}

.safety__inner {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.safety__text {
  font-family: "Oranienbaum";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  max-width: 680px;
}

.safety__img--block {
  position: relative;
}

.masks {
}

.gloves {
  position: absolute;
  top: 0;
  left: 30%;
}

.antiseptic {
  position: absolute;
  bottom: 40px;
  right: 30%;
}

.our__partners--imgs {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.our__partners--img {
  margin-right: 60px;
}

.our__partners--img:last-child {
  margin-right: 0;
}

/* SERVICES AND PRICES */

.services-and-prices {
  margin-bottom: 50px;
}

.submenu {
  display: none;
}

.submenu__item {
  margin-bottom: 20px;
}

.item__active span {
  width: 50px;
}

.services-and-prices--inner {
  margin-top: 44px;
  display: flex;
}

.services {
  width: 252px;
  margin-right: 54px;
}

.service__lists {}

.service__list--item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.service__list {
  font-family: "Oranienbaum";
  margin-bottom: 30px;
}

.service__list:last-child {
  margin-bottom: 0;
}

.arrow-up,
.arrow-down {
  cursor: pointer;
}

.line__middle {
  height: 429px;
  background: #000;
  width: 1px;
  margin-right: 57px;
}

.price__list {
  font-family: "Oranienbaum";
  font-size: 18px;
  display: flex;
  flex-direction: column;
  width: 359px;
}

.price__item {
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.price__item:last-child {
  margin-bottom: 0;
}

.service__arrow {}

.price__item--name {
}

.price__item--price {
}

.services-and-prices--img-block {
  margin-left: 55px;
}

.services-and-prices--img-block img {
  border-radius: 4px;
}

.map__block {}

.card__info {
  background-color: white;
  position: absolute;
  top: 107px;
  left: 287px;
  width: 260px;
  border-radius: 4px;
  box-shadow: 3px 5px 15px rgba(224, 69, 4, 0.5);
  padding: 27px;
  z-index: 100;
}

iframe {
  width: 100%;
  height: 100vh;
}

.logo__block {
  margin-bottom: 10px;
  text-align: center;
}

.text__logo {
  font-family: 'Oranienbaum';
}

.card__info--about {
}

.card__info--about-items {
  display: flex;
  flex-direction: column;

}

.card__info--about-item {
  font-family: 'Oranienbaum';
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 16px;
  max-width: 156px;
  border-top: 1px solid #000;
  padding-top: 14px;
}

.geo {
  list-style-image: url(../images/icons8-map-marker-100\ 1.png);
}

.time {
  list-style-image: url(../images/icons8-clock-100\ 1.png);
}

.phone {
  list-style-image: url(../images/icons8-phonelink-ring-100\ 1.png);
}
