/* HEADER */
.header {
  background: #fff;
  position: relative;
}

.header--innner {
  display: flex;
  flex-direction: row;
  padding: 40px 0px 20px 0px;
}

.logo__cotnainer {
  margin-right: 256px;
}

.logo {
  width: 79.95px;
  height: 80px;
}

.nav__container {}

.burger__menu--btn {
  border: none;
  display: none;
  width: 25px;
  height: 20px;
  position: relative;
  cursor: pointer;
}


/* DROP-DOWN */
.nav__drop-down {
  /* visibility: hidden;
  font-family: "Oranienbaum";
  width: 192px;
  height: 220px;
  background-color: #E04504;
  padding: 45px 63px;
  position: fixed;
  top: 80px;
  transform: translateX(0);
  z-index: 100; */

  
  /* display: none; */
  position: fixed;
  top: 80px;
  right: 0;
  width: 192px;
  height: 220px;
  padding: 45px 63px;
  background-color: #E04504;
  transform: translateX(100%);
  transition: transform 0.7s;
  z-index: 100; 
}



.drop__down-list {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}

.drop__down-links {
  color: #fff;
  font-size: 16px;
}

/* -------- */

.nav {
  display: block;
}

.nav__menu {
  display: flex;
}

.nav--list__item {
  margin-right: 60px;
}

.nav--list__item:last-child {
  margin-right: 0;
}



.nav--link {
  font-family: "Oranienbaum";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  transition: .5s;
}

.nav--link:hover {
  color: #e04504;
}

/* SECTIONS */
/* MIAN SECTION */
.main-section {
  margin-bottom: 50px;
}

.main__section--inner {
  /* display: none; */
}

.main__section--txt__container {
  padding-top: 128px;
  padding-bottom: 253px;
}

.main__section--txt__container>h1 {
  font-family: "Aquarelle";
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  line-height: 145px;
}

.main__section--txt__container>h2 {
  margin-top: 15px;
  font-family: "Oranienbaum";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}

.main__section--img__container-crystal {
  display: block;
  top: 0px;
  right: 150px;
  z-index: -1;
}

.main__section--img__container-blot_one {
  top: 250px;
  left: 270px;
  z-index: -2;
}

.main__section--img__container-blot_two {
  top: 50px;
  right: 43%;
  z-index: -2;
  display: block;
}

.main__section--img__container-blot_two>img {
  width: 95%;
}

.main__section-cards__container {
  margin-top: 20px;
}

.advantages_title {
  display: none;
}

.main__section-cards__container>ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main__section-cards__container>ul>li {}

.main__section-card {
  max-width: 225px;
  width: 11.74vw;
  height: 190px;
  background: #e04504;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .6s;
}

.main__section-card:hover {
  transform: scale(1.070);
  box-shadow: 0px 10px 30px 0px #000000cc;

}

.main__section-card--img_container {}

.main__section-card--img {
  width: 68px;
  height: 68px;
}

.icon_color {
  fill: #f2f3f4;
}

.icon_color-stroke {
  stroke: #f2f3f4;
}

.main__section-card--txt {
  font-family: "Oranienbaum";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #f2f3f4;
  margin-top: 10px;
  max-width: 174px;
}

/* PARTNERS */

.partners {
  margin-bottom: 50px;
}

.safety {
  margin-bottom: 50px;
}

.title__block {
  position: relative;
}

.title__top {
  font-family: "Aquarelle";
  font-weight: 500;
  font-size: 72px;
  color: #e04504;
  position: absolute;
  bottom: 0;
  opacity: 0.4;
}

.title__bottom {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}

.safety__inner {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.safety__text {
  font-family: "Oranienbaum";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  max-width: 680px;
}

.safety__img--block {
  position: relative;
}

.masks {}

.gloves {
  position: absolute;
  top: 0;
  left: 30%;
}

.antiseptic {
  position: absolute;
  bottom: 40px;
  right: 30%;
}

.our__partners--imgs {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.our__partners--img {
  margin-right: 60px;
}

.our__partners--img:last-child {
  margin-right: 0;
}

/* SERVICES AND PRICES */

.services-and-prices {
  margin-bottom: 50px;
}

.service__btn {
  background: transparent;
  border: none;
  width: 100%;
}

.submenu__itema {
  margin-left: 10px;
  margin-bottom: 20px;
}

.submenu__itema>button {
  border: none;
  background: transparent;
  font-family: "Oranienbaum";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.item__active {}

.arrow-up {
  display: none;
}

.services-and-prices--inner {
  margin-top: 44px;
  display: flex;
}

.services {
  width: 252px;
  margin-right: 54px;
}

.service__lists {}

.service__list--item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.service__list {}

.service__list--name {
  font-family: "Oranienbaum";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

}

.service__list:last-child {
  margin-bottom: 0;
}

.arrow-down {
  cursor: pointer;
  transition: .5s;
}

.arrow-down:hover {}

.line__middle {
  height: 429px;
  background: #000;
  width: 1px;
  margin-right: 57px;
}

.price__list {
  font-family: "Oranienbaum";
  font-size: 18px;
  display: flex;
  flex-direction: column;
  width: 359px;
}

.price__item {
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.price__item:last-child {
  margin-bottom: 0;
}

.services-img {
  width: 400px;
  height: 420px;
}

.service__arrow {}

.price__item--name {}

.price__item--price {}

.services-and-prices--img-block {
  margin-left: 55px;
}

.services-and-prices--img-block img {
  border-radius: 4px;
}

/* MAP__BLOCK */
/* SECTION MASTERS */
.slider__container {
  height: 550px;
  position: relative;
}

.slider {
  min-height: 200px;
}

.oneslide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider-img__contaner {
  margin-right: 30px;
}

.slider-txt__container {
  font-family: "Oranienbaum";
}

.slider-master_name {
  font-family: "Oranienbaum";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 38px;
  margin-bottom: 30px;
}

.slider-master_prof {
  font-family: "Oranienbaum";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
}

.slider-txt__container>p {
  font-family: "Oranienbaum";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
}

.slider-txt__container>a {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.tel {
  max-width: 25px;
  margin-right: 14px;
}

.contact__block {
  display: flex;
  align-items: center;
}

.arr__next {
  position: absolute;
  top: 50%;
  right: -5%;
  z-index: 100;
  cursor: pointer;
  padding: 10px;
  transition: .5s;
}

.arr__prev {
  position: absolute;
  top: 50%;
  z-index: 100;
  cursor: pointer;
  margin-right: 20px;
  left: -5%;
  padding: 15px;
  transition: .5s;
}

.arr__prev:hover,
.arr__next:hover {
  background-color: #e04504aa;
  border-radius: 7px;
}

.review {
  font-family: "Oranienbaum";
  padding: 50px 0;
}

.review__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 60px;
}

.review__inner--left-block {
  display: flex;
  flex-direction: column;
}

.title__block {}

.title__top {}

.title__bottom {}

.review__text {
  margin-top: 20px;
  font-size: 20px;
}

.review__inner--right-block {
  width: 480px;
  padding: 43px 90px;
  border: 1px solid #e04504;
  border-radius: 4px;
}

.review__block-inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.review__block-inner input {
  font-family: "Oranienbaum";
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 40px;
  max-width: 300px;
  padding-bottom: 14px;
}

.review__block-inner input::placeholder {
  font-size: 16px;
  color: #000000;
}

.review__block-inner input:last-child {
  margin-bottom: 0;
}

.btn {
  display: flex;
  justify-content: center;
}

.add {
  font-family: "Oranienbaum";
  font-size: 18px;
  background: #e04504;
  border-radius: 2px;
  padding: 10px 68px;
  color: white;
  border: none;
  cursor: pointer;
  transition: .7s ease-out;
  border: 2px solid #E04504;
}

.add:hover {
  background-color: #fff;
  color: #E04504;
}

/* MAP-BLOCK */

.map__block {}

.card__info {
  background-color: white;
  position: absolute;
  top: 107px;
  left: 287px;
  width: 260px;
  border-radius: 4px;
  box-shadow: 3px 5px 15px rgba(224, 69, 4, 0.5);
  padding: 27px;
  z-index: 100;
  border: 1px solid #E04504;
  transition: .5s;
}

.card__info:hover {
  transform: scale(1.090);
  border: 1px solid #e04504;
}

iframe {
  width: 100%;
  height: 100vh;
}

.logo {
  max-width: none;
}

.logo__block {
  margin-bottom: 10px;
  text-align: center;
}

.text__logo {
  font-family: "Oranienbaum";
}

.card__info--about-items {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.card__info--about-item {
  font-family: "Oranienbaum";
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 16px;
  max-width: 156px;
  border-top: 1px solid #00000022;
  padding-top: 14px;
  display: flex;
  align-items: flex-start;
}

.card__info--about-item img {
  margin-right: 20px;
}

.item__text {
  line-height: 16px;
}

.info__section {
  display: flex;
  align-items: center;
}

.card__img {
  margin-right: 20px;
}

/* FOOTER */

.footer {
  background-color: #fff;
  padding: 40px 0 10px;
}

.footer__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 0;
  border-top: 1px solid #000;
}

.footer__logo {
  margin-right: auto;
}

.footer__item {
  display: flex;
  justify-content: space-between;
}

.footer__menu-list {
  display: flex;
  gap: 60px;
  padding-right: 20px;
}

.footer__menu-link {
  font-family: "Oranienbaum";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  transition: .5s;
}

.footer__menu-link:hover {
  color: #E04504;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}